body{
    padding: 0rem;
    margin: 0rem;
    background-color: rgba(223, 230, 233,.7);
    list-style: none;
    text-decoration:none;
    }
/* NAVEGACION */
.logo-nav{
    width: 20%;
}

.navbar{
    padding: 5px 40px;
    background-color:#042331;
    margin-bottom: 1px;
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 2s;
}

.navbar-nav .nav-item .nav-link:after{
    position: absolute;
    content:'';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
}
.navbar-nav .nav-item .nav-link:hover:after{
    opacity: 1;
}

.navbar-nav .nav-item:hover .nav-link{
    color: cyan;

}
/* ICONO */


.navbar-toggler{
font-size: 23px;
background-color: rgba(223, 230, 233,.9);
}
    
/* BARRA LATERAL */

.sidebar{
    background: #042331;
    position: fixed;
    display: block;
    left: 0px;
    width: 250px;
    height: 60%;
}

.sidebar-sticky .nav-item .nav-link{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: 1.1s;
}

.nav .nav-item:hover .nav-link{
    padding-left: 30px;
}

/* SECCION CARRUSEL */
.carousel-inner {
    max-height: 1000px;
    margin-bottom: 2rem;
    box-sizing: 2px 5px 2px #000;
}
.carousel-caption {
    background: rgba(10, 61, 98,.7);
    font-weight: bold;
    color: burlywood;
}

/* CARDS */
section .container .card{
    background: #042331;
}

.container .text-card {
    color: rgba(250, 211, 144,1.0);
}

.container .text-card .card-title {
    color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

/* FUNCIONES */
.featurette {
    margin: auto;
    background-color:#042331;
}

.featurette-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(223, 230, 233,.9);
    
}

.lead {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: rgba(223, 230, 233,1.3);
}

/* FOOTER */

.estilo-footer{
    margin-top: 2rem;
    height: 100px;
    background-color:#042331;
    background-image: linear-gradient(gray);
    box-sizing: border-box;
}

.estilo-footer p{
    text-align: center;
    color: #F2F3EC;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.estilo-footer a{
    color:  #F2F3EC;
}

/* ICONOS */

 .estilo-footer .fa {
     font-size: 20px;
     margin: 4px;
     text-align: center;
     text-decoration: none;
    }

.fa:hover {
    opacity: 0.3;
}

/* ESTILOS DE LA SESION PRODUCTOS */
body{
    padding: 0px;
    margin: 0px;
    background-color: rgba(223, 230, 233,.7);
    list-style: none;
    text-decoration:none;
    }

    /* NAVEGACION */

    .logo-nav{
        width: 20%;
    }
    
    .navbar{
        padding: 5px 40px;
        background-color:#042331;
        margin-bottom: 1px;
    }
    
    .navbar .nav-item .nav-link {
        position: relative;
        width: auto;
        margin: 0 16px;
        text-align: center;
        font-size: 20px;
        color: white;
        text-decoration: none;
        transition: 2s;
    }

    .navbar-nav .nav-item .nav-link:after{
        position: absolute;
        content:'';
        left: 0;
        bottom: 5px;
        height: 2px;
        width: 100%;
        background: #33ffff;
        opacity: 0;
        transition: all 0.2s linear;
    }
    .navbar-nav .nav-item .nav-link:hover:after{
        opacity: 1;
    }
    
    .navbar-nav .nav-item:hover .nav-link{
        color: cyan;
    
    }
    
    .navbar-toggler{
        background-color: rgba(220, 221, 225,.9);
        font-size: 23px;
    }
    
    /* BARRA LATERAL */

    .sidebar{
        background: #042331;
        position: fixed;
        left: 0px;
        width: 250px;
        height: 60%;
    }

    .sidebar-sticky .nav-item .nav-link{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 35px;
        font-size: 20px;
        color: white;
        padding-left: 20px;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-bottom: 1px solid black;
        transition: 1.1s;
    }
    
    .nav .nav-item:hover .nav-link{
        padding-left: 30px;
    }

    /* SECCION */

    section .container-box{
        margin-top: 20px;
        background-color:#042331;
        color: rgba(223, 230, 233,.9);
        border-top: 1px solid rgba(45, 52, 54,.2);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .container-box p a{
        transition: background-color .1s;
    }

    a:hover {
        background-color: rgba(45, 52, 54,.3);
    }

    /* FOOTER */

.estilo-footer{
    margin-top: 2rem;
    height: 100px;
    background-color: #042331;
    background-image: linear-gradient(gray);
    box-sizing: border-box;
}

.estilo-footer p{
    text-align: center;
    color: rgba(223, 230, 233,.9);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.estilo-footer a{
    color:rgba(223, 230, 233,.9);
}

/* ICONOS-FOOTER */

 .estilo-footer .fa {
     font-size: 20px;
     margin: 4px;
     text-align: center;
     text-decoration: none;
    }

.fa:hover {
    opacity: 0.3;
  }

  /* ESTILOS DE LA SESION CONTACTO */
body{
    padding: 0rem;
    margin: 0rem;
    background-color: rgba(223, 230, 233,.7);
    list-style: none;
    text-decoration:none;
    }
/* NAVEGACION */
.logo-nav{
    width: 20%;
}

.navbar{
    padding: 5px 40px;
    background-color:#042331;
    margin-bottom: 1px;
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 2s;
}

.navbar-nav .nav-item .nav-link:after{
    position: absolute;
    content:'';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
}
.navbar-nav .nav-item .nav-link:hover:after{
    opacity: 1;
}

.navbar-nav .nav-item:hover .nav-link{
    color: cyan;

}
/* ICONO */

.navbar-toggler{
font-size: 23px;
background-color: rgba(223, 230, 233,.9);
}

/* BOTON-CONTACTO */
.btn-bg{
    background-color: #042331;
    color:white;
}

.btn-bg:hover{
    color: cyan;
}



/* FOOTER */
.estilo-footer{
    margin-top: 2rem;
    height: 100px;
    background-color:#042331;
    background-image: linear-gradient(gray);
    box-sizing: border-box;
}

.estilo-footer p{
    text-align: center;
    color: #F2F3EC;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.estilo-footer a{
    color:  #F2F3EC;
}
    
/* ICONOS-FOOTER */

.estilo-footer .fab {
    font-size: 20px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
   }

.fa:hover {
   opacity: 0.3;
}

/* TABLA-PRODUCTOS */



