body{
    padding: 0rem;
    margin: 0rem;
    background-color: rgba(223, 230, 233,.7);
    list-style: none;
    text-decoration:none;
    }
/* NAVEGACION */
.logo-nav{
    width: 20%;
}

.navbar{
    padding: 5px 40px;
    background-color:#042331;
    margin-bottom: 1px;
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 2s;
}

.navbar-nav .nav-item .nav-link:after{
    position: absolute;
    content:'';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
}
.navbar-nav .nav-item .nav-link:hover:after{
    opacity: 1;
}

.navbar-nav .nav-item:hover .nav-link{
    color: cyan;

}
/* ICONO */


.navbar-toggler{
font-size: 23px;
background-color: rgba(223, 230, 233,.9);
}
    
/* BARRA LATERAL */

.sidebar{
    background: #042331;
    position: fixed;
    display: block;
    left: 0px;
    width: 250px;
    height: 60%;
}

.sidebar-sticky .nav-item .nav-link{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: 1.1s;
}

.nav .nav-item:hover .nav-link{
    padding-left: 30px;
}

/* SECCION CARRUSEL */
.carousel-inner {
    max-height: 1000px;
    margin-bottom: 2rem;
    box-sizing: 2px 5px 2px #000;
}
.carousel-caption {
    background: rgba(10, 61, 98,.7);
    font-weight: bold;
    color: burlywood;
}

/* CARDS */
section .container .card{
    background: #042331;
}

.container .text-card {
    color: rgba(250, 211, 144,1.0);
}

.container .text-card .card-title {
    color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

/* FUNCIONES */
.featurette {
    margin: auto;
    background-color:#042331;
}

.featurette-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(223, 230, 233,.9);
    
}

.lead {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: rgba(223, 230, 233,1.3);
}

/* FOOTER */

.estilo-footer{
    margin-top: 2rem;
    height: 100px;
    background-color:#042331;
    background-image: linear-gradient(gray);
    box-sizing: border-box;
}

.estilo-footer p{
    text-align: center;
    color: #F2F3EC;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.estilo-footer a{
    color:  #F2F3EC;
}

/* ICONOS */

 .estilo-footer .fa {
     font-size: 20px;
     margin: 4px;
     text-align: center;
     text-decoration: none;
    }

.fa:hover {
    opacity: 0.3;
}

/* ESTILOS DE LA SESION PRODUCTOS */
body{
    padding: 0px;
    margin: 0px;
    background-color: rgba(223, 230, 233,.7);
    list-style: none;
    text-decoration:none;
    }

    /* NAVEGACION */

    .logo-nav{
        width: 20%;
    }
    
    .navbar{
        padding: 5px 40px;
        background-color:#042331;
        margin-bottom: 1px;
    }
    
    .navbar .nav-item .nav-link {
        position: relative;
        width: auto;
        margin: 0 16px;
        text-align: center;
        font-size: 20px;
        color: white;
        text-decoration: none;
        transition: 2s;
    }

    .navbar-nav .nav-item .nav-link:after{
        position: absolute;
        content:'';
        left: 0;
        bottom: 5px;
        height: 2px;
        width: 100%;
        background: #33ffff;
        opacity: 0;
        transition: all 0.2s linear;
    }
    .navbar-nav .nav-item .nav-link:hover:after{
        opacity: 1;
    }
    
    .navbar-nav .nav-item:hover .nav-link{
        color: cyan;
    
    }
    
    .navbar-toggler{
        background-color: rgba(220, 221, 225,.9);
        font-size: 23px;
    }
    
    /* BARRA LATERAL */

    .sidebar{
        background: #042331;
        position: fixed;
        left: 0px;
        width: 250px;
        height: 60%;
    }

    .sidebar-sticky .nav-item .nav-link{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 35px;
        font-size: 20px;
        color: white;
        padding-left: 20px;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-bottom: 1px solid black;
        transition: 1.1s;
    }
    
    .nav .nav-item:hover .nav-link{
        padding-left: 30px;
    }

    /* SECCION */

    section .container-box{
        margin-top: 20px;
        background-color:#042331;
        color: rgba(223, 230, 233,.9);
        border-top: 1px solid rgba(45, 52, 54,.2);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .container-box p a{
        transition: background-color .1s;
    }

    a:hover {
        background-color: rgba(45, 52, 54,.3);
    }

    /* FOOTER */

.estilo-footer{
    margin-top: 2rem;
    height: 100px;
    background-color: #042331;
    background-image: linear-gradient(gray);
    box-sizing: border-box;
}

.estilo-footer p{
    text-align: center;
    color: rgba(223, 230, 233,.9);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.estilo-footer a{
    color:rgba(223, 230, 233,.9);
}

/* ICONOS-FOOTER */

 .estilo-footer .fa {
     font-size: 20px;
     margin: 4px;
     text-align: center;
     text-decoration: none;
    }

.fa:hover {
    opacity: 0.3;
  }

  /* ESTILOS DE LA SESION CONTACTO */
body{
    padding: 0rem;
    margin: 0rem;
    background-color: rgba(223, 230, 233,.7);
    list-style: none;
    text-decoration:none;
    }
/* NAVEGACION */
.logo-nav{
    width: 20%;
}

.navbar{
    padding: 5px 40px;
    background-color:#042331;
    margin-bottom: 1px;
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 2s;
}

.navbar-nav .nav-item .nav-link:after{
    position: absolute;
    content:'';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
}
.navbar-nav .nav-item .nav-link:hover:after{
    opacity: 1;
}

.navbar-nav .nav-item:hover .nav-link{
    color: cyan;

}
/* ICONO */

.navbar-toggler{
font-size: 23px;
background-color: rgba(223, 230, 233,.9);
}

/* BOTON-CONTACTO */
.btn-bg{
    background-color: #042331;
    color:white;
}

.btn-bg:hover{
    color: cyan;
}



/* FOOTER */
.estilo-footer{
    margin-top: 2rem;
    height: 100px;
    background-color:#042331;
    background-image: linear-gradient(gray);
    box-sizing: border-box;
}

.estilo-footer p{
    text-align: center;
    color: #F2F3EC;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.estilo-footer a{
    color:  #F2F3EC;
}
    
/* ICONOS-FOOTER */

.estilo-footer .fab {
    font-size: 20px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
   }

.fa:hover {
   opacity: 0.3;
}

/* TABLA-PRODUCTOS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --primary-color: white;
    --secondary-color: rgb(61,68,73);
    --highlight-color: #3282b8;

    --dt-status-availabe-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;

    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #042331;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);

}

.titulo-tabla{
    text-align: center;
}

.material-icons{
    font-size: 16px;
}

.datatable-container{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-background-color-container);
    border: solid 1px var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 800px;
    margin: 0 auto;
    font-size: 15px;
}

.datatable-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.datatable-container .header-tools .search{
    width: 30%;
}
.datatable-container .header-tools .search .search-input{
    width: 100%;
    background-color: var(--dt-input-background-color);
    display: block;
    box-sizing : border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);
}
.datatable-container .header-tools .tools{
    width: 70%;
}
.datatable-container .header-tools .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.datatable-container .header-tools .tools ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}
.datatable-container .header-tools .tools ul li span input{
    vertical-align: middle;
}
.datatable-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.datatable-container .footer-tools .list-items{
    width: 50%;
}
.datatable-container .footer-tools .pages{
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}
.datatable-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
.datatable-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}
.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button{
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}
.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover{
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}
.datatable-container .footer-tools .pages ul li span.active{
    background-color:  var(--dt-bg-color);
    border-radius: var(--dt-border-radius);
}
.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{
    padding: var(--dt-padding-s) var(--dt-padding);
}

.datatable-container .datatable{
    border-collapse: collapse;
    width: 100%;
}
.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container .datatable tbody tr:nth-child(even){
    background-color: var(--dt-even-row-color);
}
.datatable-container .datatable tbody tr:hover{
    background-color: var(--dt-hover-cell-color);
}

.datatable-container .datatable tbody tr .table-checkbox{
    width: 1px;
}
